{{!-- <h1>You are playing: {{game}}!</h1> --}}
<div class="container">
    <div style="margin-top: 80px;" class="jumbotron text-center">
        <h1 class="display-4">
            <h1>You are playing: {{game}}!</h1>
        </h1>
    </div>
</div>
<div id="gameplay">
{{abc}}
{{{HTMLFile}}}
</div>

<script src={{jsfile}}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
